@media screen and (max-width: 500px) {
    .container {
        grid-template-columns: 1fr; 
    }

    nav {
        flex-direction: column;
    }
    
    nav ul li {
        width: 100%;
    }

    .hero-text {
        top: 60%;
        left: 30%;
    }
    
    .hero-text h1 {
        font-size: 24px;
    }
    
    .hero-text p {
        font-size: 16px;
    }
}